body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(to bottom, #3B3B3B, #000000);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand {
    color: #FF6600;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

button,
.generator-button {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #009E3D;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
}

button:hover,
.generator-button:hover {
    background-color: #008C3B;
}

.navbar {
    background-color: #009E3D;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #008C3B;
    color: #FFFFFF;
}

.fading-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 300px;
    height: 300px;
    background: url('minecraft-logo.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    animation: fade-in 5s ease forwards;
    opacity: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}

.moving-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: #FFFFFF;
    cursor: pointer;
}

